body{background-color: blueviolet;}

a,
h2,
svg{
    margin: 10px 0px;
    font-size: 50px;
    color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
}
h3{
    margin: auto;
    color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
    
}
#content,
#header,
#main,
#weight,
#height{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#weight,
#height,
#sub{
    margin: 25px 0px;
}
svg{
    margin-right: 10px;
}
.str{
    position: absolute;
    top: 11px;
    left: 36px;
}
.str:hover{
    cursor: pointer;
    transition: 0.3s all;
    animation: strTraffic 0.3s ease-in;
    color:rgb(115, 0, 223);
}


a{text-decoration: none;}
#block{
    margin: auto;
    width: fit-content;
}
.text_line{
    margin: auto;
    background-color:blueviolet;
    /* display: none; */
    width: 0px;
    height: 5px;
    border-radius: 10px;
}
#header{
    position: relative;
    margin-bottom: 80px;  
}
#app{
    display: block;
    width: 60%;
    height: 500px;
    padding: 10px 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    margin: auto;
    position: relative;
    top: -10px;
    text-align: center;
}

#content form{
    position: relative;
    max-width: fit-content;
    margin-right: 30px;
}
form input {
    border: none;
    width: 178px;
    font-weight: bold;
    padding: 0px 10px;
    font-size: 20px;
    border-bottom: 2px solid #8a2be2;
}
.box_age {
    width: 100px;
    box-shadow: 0px 0px 10px 0px #8a2be2;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 10px;
    
}
#card{
    font-size: 30px;
    max-width: fit-content;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #575757;
    margin: 20px 0px 50px 10%;
    backdrop-filter: blur(5px);
}
#card:hover{
    cursor: move;
}
.cardNotInPlace{
    border: dashed 3px #9e009e;
    border-radius: 7px;
    width: 15%;
    height: 70px;
    position: absolute;
    top: 200px;
    right: 250px;
}
#line{
    display: flex;
    margin-top: 30px;
    position: relative;
}

.line_collect{
    width: 53px;
    height: 10px;
    margin: 0px 5px 0px 0px;
    border-radius: 10px;
    
}
#x{
    position: absolute;
    top: -5px;
    background-color: #9e009e;
    width: 15px;
    height: 25px;
    border-radius: 30%;
}
.green{background-color: green;}
.yellow{background-color: rgb(255, 255, 0);}
.red{background-color: #d30000;}

.i1,.t1{color: green;}
.i2,.t2{color: rgb(197, 184, 0);}
.i3,.t3{color: red;}

#icon{
    padding: 0px 60px;
}
#text{
    margin: 20px 0px;
    font-family: sans-serif;
    font-weight: bold;
}
/* .i1,.i2,.i3,.t1,.t2,.t3,#line{display: none;} */

.line_collect:last-child{
    margin: 0px;
}
.notActive{
    display: none;
}
.active{
    /* animation: block_rezult ease-in 2s;
    opacity: 1; */
    display: block;
}

#warning{
    position: absolute;
    
    top: 122px;
    left: 70px;
    color: red;
    display: flex;
    align-items: center;
}
#w_h{
    width: 100px;
}
#w_h input{
    width: 70px;
    margin: 0px 5px;
}
#sub{
    
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 7px;
    width: fit-content;
}
#sub:hover{
    cursor: pointer;
    /* text-shadow: 0px 0px 2px #8a2be2; */
    transition: 1s all ;
    /* animation: go 0.5s ease-in-out; */
    transform: scale(1.3);
    
}
#main_birsday{
    /* width: 100px; */
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px #8a2be2;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 10px;
}
@keyframes linehover {
    0%{display: block;width: 0px;}
    /* 50%{display: block;width: 50px;} */
    100%{display: block;width: 200px;}
}
@keyframes strTraffic {
    0%{
        position: absolute;
        top: 11px;
        left: 36px;
    }
    100%{
        position: absolute;
        top: 11px;
        left: 30px;
    }  
}
/* @keyframes go{
    0%{transform: scale(0px);}
    100%{transform: scale(1.2);}
} */

