<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/style.css">
    <title>Document</title>
</head>
<body>
    <!--  -->
    <div id="app">
        <div id="header">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" v-on:click='str' height="40" fill="currentColor" class="bi str bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            <h2>Age</h2>
        </div>
        <div id="content">
            <form action="">
                <input type="date" name="" id="date" v-model='year_bir'>
                <div id="sub" v-on:click='goDate'>
                    <h3>Go!</h3>
                </div>
            </form>
            <div id="warning_content" v-bind:class='{active: isActive, notActive: not}'>
                <div id="warning" >
                    <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                    <h3 style="color: red;">{{warning}}</h3>
                </div>
            </div>
            <div id="main" v-if='isDate'>
                <div class="box_age">
                    <h3 >Old Year</h3>    
                    <h2 v-if='rezult.rez != 0' class="num"> {{rezult.rez}} </h2>
                   
                </div>
                <div class="box_age">
                    <h3 >Next B.D</h3>    
                    <h2 class="num" v-if='rezult.rez2 != 0'> {{rezult.rez2}} </h2>
                </div>
                <div class="box_age">
                    <h3 >Back B.D</h3>    
                    <h2 class="num" v-if='rezult.rez3 != 0'> {{rezult.rez3}} </h2>
                </div>
            </div>
            <div id="main_birsday" v-else>
                <h3>you turned twenty today {{ rezult.rez}}!!! </h3>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="../../javaScript/main.js"></script>
</body>
</html>